livenessProbe:
  httpGet:
    path: "/liveness"
    port: 8080
  initialDelaySeconds: 15
  timeoutSeconds: 2
  periodSeconds: 15
  failureThreshold: 5
readinessProbe:
  httpGet:
    path: "/readiness"
    port: 8080
  initialDelaySeconds: 30
  timeoutSeconds: 2
  periodSeconds: 15
  failureThreshold: 5
